*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,button{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
}
a{
    font-family: 'Poppins', sans-serif;
    font-size: 1em; 
}

.nav-link select option {
    border-style:  none;
    background-color: rgb(47, 45, 45);
}
input{
    font-family: 'Poppins', sans-serif;
    font-size: 1.289em;
}
.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    height: 4em;
}

.carousel-item img{
  width: 100%;
  height: 90vh;
  
}
.form{
    border-radius: 10px; 
}

.form-bg{
    background-color: rgb(218, 174, 174);
}
.form-group input:hover{
border-color:rgb(218, 174, 174)  ;
}
.form-group button{
    border-radius: 10px;
    color:rgb(218, 174, 174)  ;
}
.form-control{
    border-color:rgb(218, 174, 174) ;
}